<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
		<property name="hibernate.current_session_context_class">thread</property>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">vishal@123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/travellogger</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
       
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
       <!--  <property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>-->
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
		
		<!-- Names the annotated entity class -->
        <mapping class="com.diebold.travellogger.pojo.Project"/>
        <mapping class="com.diebold.travellogger.pojo.login"/>
        <mapping class="com.diebold.travellogger.pojo.user"/>
        <mapping class="com.diebold.travellogger.pojo.uservisa"/>
		<mapping class="com.diebold.travellogger.pojo.country"/>
		<mapping class="com.diebold.travellogger.pojo.travelAgency"/>
		<mapping class="com.diebold.travellogger.pojo.Designation"/>
		<mapping class="com.diebold.travellogger.pojo.CostCovered"/>
		<mapping class="com.diebold.travellogger.pojo.addTravel"/>
		<mapping class="com.diebold.travellogger.pojo.Status"/>
		<mapping class="com.diebold.travellogger.pojo.travelAgency"/>
		<mapping class="com.diebold.travellogger.pojo.foodprefrences"/>
		<mapping class="com.diebold.travellogger.pojo.role"/>
    </session-factory>

</hibernate-configuration>